<template>
  <div class="home">
    <v-layout class="mx-4 mt-4" wrap style="align-items: center;">
      <v-flex xs6 lg2 md2>
        <img src="@/assets/logo.png" />
      </v-flex>

      <v-flex></v-flex>

      <v-flex xs2 lg1 md1>
        <img src="@/assets/govbr.png" />
      </v-flex>
    </v-layout> 
    <v-layout wrap style="justify-content: center;"> 
      <div class="text-xs-center mt-3 main-text" style="font-family: Roboto; width: 100%">
        Consulte de forma simples e instantânea a viabilidade de sua empresa
      </div>

      <div class="mt-4 second-text" style="font-family: Roboto; width: 100%">
        Onde vai ficar sua empresa?
      </div>

      <v-container grid-list-xs text-xs-center style="max-width: 800px;" v-loading="loading">
        <v-layout row align-center class="white elevation-1 search-area pl-3 mr-0" style="min-height: 56px" :class="$vuetify.breakpoint.xsOnly ? 'pr-0' : 'pr-4'">
          <v-combobox
            v-model='address'
            :search-input.sync="search"
            :items="entries"
            :multiple="false"
            chips
            clearable
            hide-details
            hide-no-data
            no-data-text="Nenhum resultado"
            hide-selected
            item-text="name"
            placeholder="Digite o endereço físico aqui"
            class="pt-0 search-address"
            return-object
            append-icon=""
            :no-filter="true"
          >
            <div class="prepend" slot="prepend">
              <v-progress-circular v-if='loadingSearch' indeterminate color="primary" size="24" width="2"></v-progress-circular>
              <v-icon :size="$vuetify.breakpoint.xsOnly ? '22' : '32'" v-else>search</v-icon>
            </div>
            <template v-slot:selection="data">
              <div>
                {{ data.item && data.item.description }}
              </div>
            </template>
            <template v-slot:item="data">
              <div style="text-align: left;">
                <v-icon class="mr-1" size="20" v-if='data.item && data.item.description'>
                  place
                </v-icon>
                {{ data.item && data.item.description }}
              </div>
            </template>

            <div slot="append">
              <v-btn @click="start()" class="mt-0" flat style="background-color: #6500F0; color: #fff">BUSCAR</v-btn>
            </div>
          </v-combobox>
        </v-layout>
        <div class="info-text">Você pode pesquisar por municipio, estado, cidade ou um endereço completo</div>
      </v-container>
    </v-layout>

    <v-flex></v-flex>

    <div class="brasilia">
      <img src="@/assets/brasilia.jpg" />
    </div>
  </div>
</template>
<script type="text/javascript">
import Axios from 'axios'
import _ from 'lodash'
import ErrorMessage from '@/helpers/ErrorMessage'
import GoogleMaps from '@/services/GoogleMaps'

const PLACES_ALLOWED = ['Serra Negra']

export default {
  name: 'Home',

  data() {
    return {
      address: null,
      loading: false,
      places: [{
         "description" : "São Paulo, SP, Brasil",
         "id" : "fedb05012f42e79f038a58eac44e1bbc61b7c7aa",
         "matched_substrings" : [
            {
               "length" : 9,
               "offset" : 0
            }
         ],
         "place_id" : "ChIJ0WGkg4FEzpQRrlsz_whLqZs",
         "reference" : "ChIJ0WGkg4FEzpQRrlsz_whLqZs",
         "structured_formatting" : {
            "main_text" : "São Paulo",
            "main_text_matched_substrings" : [
               {
                  "length" : 9,
                  "offset" : 0
               }
            ],
            "secondary_text" : "SP, Brasil"
         },
         "terms" : [
            {
               "offset" : 0,
               "value" : "São Paulo"
            },
            {
               "offset" : 11,
               "value" : "SP"
            },
            {
               "offset" : 15,
               "value" : "Brasil"
            }
         ],
         "types" : [ "locality", "political", "geocode" ]
      }, {
         "description" : "Serra Negra, SP, Brasil",
         "id" : "bbb23fbd8f81440df5defa05135f7fa14e5898c8",
         "matched_substrings" : [
            {
               "length" : 11,
               "offset" : 0
            }
         ],
         "place_id" : "ChIJiakBhJoYyZQRgnGpLL6DL_c",
         "reference" : "ChIJiakBhJoYyZQRgnGpLL6DL_c",
         "structured_formatting" : {
            "main_text" : "Serra Negra",
            "main_text_matched_substrings" : [
               {
                  "length" : 11,
                  "offset" : 0
               }
            ],
            "secondary_text" : "SP, Brasil"
         },
         "terms" : [
            {
               "offset" : 0,
               "value" : "Serra Negra"
            },
            {
               "offset" : 13,
               "value" : "SP"
            },
            {
               "offset" : 17,
               "value" : "Brasil"
            }
         ],
         "types" : [ "locality", "political", "geocode" ]
      },  {
         "description" : "Rua Antônio J Pádula - Bairro das Leais, Serra Negra - SP, Brasil",
         "id" : "c4f0a3810c30696790b523cf1f1ac2e33470e9df",
         "matched_substrings" : [
            {
               "length" : 20,
               "offset" : 0
            }
         ],
         "place_id" : "EkNSdWEgQW50w7RuaW8gSiBQw6FkdWxhIC0gQmFpcnJvIGRhcyBMZWFpcywgU2VycmEgTmVncmEgLSBTUCwgQnJhc2lsIi4qLAoUChIJU67Q1_4YyZQRmJO0XwjPsMYSFAoSCdEKbHcCGcmUEcwpu5tyubO8",
         "reference" : "EkNSdWEgQW50w7RuaW8gSiBQw6FkdWxhIC0gQmFpcnJvIGRhcyBMZWFpcywgU2VycmEgTmVncmEgLSBTUCwgQnJhc2lsIi4qLAoUChIJU67Q1_4YyZQRmJO0XwjPsMYSFAoSCdEKbHcCGcmUEcwpu5tyubO8",
         "structured_formatting" : {
            "main_text" : "Rua Antônio J Pádula",
            "main_text_matched_substrings" : [
               {
                  "length" : 20,
                  "offset" : 0
               }
            ],
            "secondary_text" : "Bairro das Leais, Serra Negra - SP, Brasil"
         },
         "terms" : [
            {
               "offset" : 0,
               "value" : "Rua Antônio J Pádula"
            },
            {
               "offset" : 23,
               "value" : "Bairro das Leais"
            },
            {
               "offset" : 41,
               "value" : "Serra Negra"
            },
            {
               "offset" : 55,
               "value" : "SP"
            },
            {
               "offset" : 59,
               "value" : "Brasil"
            }
         ],
         "types" : [ "route", "geocode" ]
      },{
         "description" : "Avenida Coronel Estevão Franco de Godoy, Serra Negra - SP, Brasil",
         "id" : "f0922469b490f22e1b4794c9c6aa500c3abf25b6",
         "matched_substrings" : [
            {
               "length" : 39,
               "offset" : 0
            }
         ],
         "place_id" : "EkJBdmVuaWRhIENvcm9uZWwgRXN0ZXbDo28gRnJhbmNvIGRlIEdvZG95LCBTZXJyYSBOZWdyYSAtIFNQLCBCcmFzaWwiLiosChQKEgn_P4YCZBjJlBGVcTEMkGzLkBIUChIJTXXAc1IYyZQRaZOtjystB5E",
         "reference" : "EkJBdmVuaWRhIENvcm9uZWwgRXN0ZXbDo28gRnJhbmNvIGRlIEdvZG95LCBTZXJyYSBOZWdyYSAtIFNQLCBCcmFzaWwiLiosChQKEgn_P4YCZBjJlBGVcTEMkGzLkBIUChIJTXXAc1IYyZQRaZOtjystB5E",
         "structured_formatting" : {
            "main_text" : "Avenida Coronel Estevão Franco de Godoy",
            "main_text_matched_substrings" : [
               {
                  "length" : 39,
                  "offset" : 0
               }
            ],
            "secondary_text" : "Serra Negra - SP, Brasil"
         },
         "terms" : [
            {
               "offset" : 0,
               "value" : "Avenida Coronel Estevão Franco de Godoy"
            },
            {
               "offset" : 41,
               "value" : "Serra Negra"
            },
            {
               "offset" : 55,
               "value" : "SP"
            },
            {
               "offset" : 59,
               "value" : "Brasil"
            }
         ],
         "types" : [ "route", "geocode" ]
      }],
      search: null,
      loadingSearch: false,    
    }
  },

  watch: {
    search(val) {
      this.loadingSearch = true
      this.searchDebounced(val)
    },
  },

  computed: {
    entries() {
      return ([]).concat(this.places)
    },
  },

  methods: {
    searchDebounced: _.debounce(async function (newVal) {
      this.searchAddresses(newVal)
    }, 500, {leading: false, trailing: true}),

    async searchAddresses(q) {
      try {
        let res = await GoogleMaps.search(q)

        this.loadingSearch = false
        this.places = res.data.predictions
      } catch(err) {
        this.loadingSearch = false
        this.$message({
          type: 'error',
          message: ErrorMessage(err),
        }) 
      }
    },

    async checkAddress(id) {
      try {
        let res = await GoogleMaps.getInfo(id)

        this.loading = false

        let formatedAddress = _.get(res.data, 'result.formatted_address', '')
        let address = _.get(res.data, 'result', '')

        // Test if target address is allowed
        if(!_.includes(formatedAddress, PLACES_ALLOWED)) {
          this.$router.push({ name: 'fail', params: { address: address }})
          return false
        }

        this.$router.push({ name: 'cnae', params: { address: address }})
      } catch(err) {
        this.loading = false
        this.$message({
          type: 'error',
          message: ErrorMessage(err),
        }) 
      }
    },

    start() {
      if(!this.address || !this.address.place_id) return
      this.loading = true

      this.checkAddress(this.address.place_id)
    }
  }
}
</script>

<style scoped>
.main-text {
  font-size: 42px;
  max-width: 900px;
  margin-left: 12px;
  margin-right: 12px;
}
.second-text {
  font-size: 32px;
}
.info-text {
  color: #999595;
  font-size: 14px;
  font-family: Roboto;
  margin-top: 12px;
  text-align: left;
}
@media (max-width: 600px) {
  .main-text {
    font-size: 22px;
    margin-top: 32px!important;
  }
  .second-text {
    font-size: 18px;
  }
  .home {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .brasilia {
    width: 130%;
    margin-left: -15%;
    background-size: cover;
  }
  .brasilia > img {
    margin-bottom: -10px;
  }
}
@media (max-width: 901px) {
  .home {
    max-height: 100vh; overflow: hidden;
  }
}

</style>
