<template>
  <div class="zones">
    <v-layout class="toolbar-zones">
      <v-flex xs12>
        <img src="@/assets/logo-white.png" />        
      </v-flex>
    </v-layout>

  <GoogleMapLoader
    v-if='markers && markers.length'
    style='height: 50vh'
    :mapConfig="mapConfig"
    :apiKey="MAPS_KEY"
  >
    <template slot-scope="{ google, map }">
      <GoogleMapMarker
        v-for="marker in markers"
        :key="marker.id"
        :marker="marker"
        :google="google"
        :map="map"
      />
      <GoogleMapLine
        v-for="line in lines"
        :markers="markers"
        :key="line.id"
        :lineId="line.id"
        :path.sync="line.path"
        :strokeColor.sync="line.strokeColor"
        :strokeOpacity.sync="line.strokeOpacity"
        :strokeWeight.sync="line.strokeWeight"
        :fillColor.sync="line.fillColor"
        :fillOpacity.sync="line.fillOpacity"
        :google="google"
        :map="map"
        @updateZones="updateZones($event)"
      />
    </template>
  </GoogleMapLoader>

  <div class="">
    <v-container grid-list-xs text-xs-center style="max-width: 800px;">
      <v-layout row align-center class="white elevation-1 search-area pl-3 mr-0" style="min-height: 56px" :class="$vuetify.breakpoint.xsOnly ? 'pr-0' : 'pr-4'">
        <v-combobox
          v-model='address'
          :items="[address]"
          :multiple="false"
          chips
          clearable
          hide-details
          hide-no-data
          no-data-text="Nenhum resultado"
          hide-selected
          item-text="name"
          placeholder="Digite o endereço aqui"
          class="pt-0 search-address search-disabled"
          return-object
          append-icon=""
          :no-filter="true"
          disabled
        >
          <div class="prepend" slot="prepend">
            <v-icon :size="$vuetify.breakpoint.xsOnly ? '22' : '32'">search</v-icon>
          </div>
          <template v-slot:selection="data">
            <div>
              {{ data.item && data.item.formatted_address }}
            </div>
          </template>
          <div slot="append">
            <v-btn @click="edit()" class="mt-0" flat style="background-color: #6500F0; color: #fff">ALTERAR</v-btn>
          </div>
        </v-combobox>
      </v-layout>

      <div class="approved-cnaes" v-if='approvedCNAEs && approvedCNAEs.length'>
        <div>Atividades aprovadas para este endereço</div>
        <v-chip style="white-space: normal; padding-top: 5px; padding-bottom: 5px; display: block; overflow: hidden; text-overflow: ellipsis;" v-for='cnae in approvedCNAEs'>
          <v-avatar class="green">
            <v-icon color="white">check</v-icon>
          </v-avatar> {{ cnae.description }}
        </v-chip>
      </div>

      <div class="reproved-cnaes" v-if='reprovedCNAEs && reprovedCNAEs.length'>
        <div>Atividades reprovadas para este endereço</div>
        <v-chip style="white-space: normal; padding-top: 5px; padding-bottom: 5px; display: block; overflow: hidden; text-overflow: ellipsis;" v-for='cnae in reprovedCNAEs'>
          <v-avatar class="red">
            <v-icon color="white">close</v-icon>
          </v-avatar> {{ cnae.description }}
        </v-chip>
      </div>

  <!--     <div>
        <v-btn class="ma-0 mt-4" style="background-color: #6500F0; color: #fff; width: 100%; height: 76px;">Consultar viabilidade do nome</v-btn>
      </div> -->
    </v-container>
  </div>
</div>
</template>
<script type="text/javascript">
const MAPS_KEY = process.env.VUE_APP_MAPS_KEY
import GoogleMapLoader from '@/components/GoogleMapLoader'
import GoogleMapMarker from "@/components/GoogleMapMarker";
import GoogleMapLine from "@/components/GoogleMapLine";

import { mapSettings } from "@/constants/mapSettings";
import Vue from 'vue'
import _ from 'lodash'

export default {
  name: 'Zones',

  data() {
    return {
      google: null,
      map: null,
      MAPS_KEY: MAPS_KEY,
      markers: [],

      approvedCNAEs: null,
      reprovedCNAEs: null,
      lines: [
        {
          id: "1",
          strokeColor: '#e56464',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#f77171',
          fillOpacity: 0.35,
          path: [
            {lat: -22.593671, lng: -46.695341},
            {lat: -22.594642, lng: -46.708472}, 
            {lat: -22.597863, lng: -46.717620},
            {lat: -22.612312, lng: -46.720660},
            {lat: -22.622248, lng: -46.713911}, 
            {lat: -22.625385, lng: -46.699464},
            {lat: -22.620900, lng: -46.684532}, 
            {lat: -22.609469, lng: -46.679921}, 
            {lat: -22.597255, lng: -46.685265},
            {lat: -22.593671, lng: -46.695341}
          ],
          sectors: ['Indústria', 'Comércio', 'Serviços']
        },

        {
          id: "2",
          strokeColor: '#00a9ff',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#4fc0f9',
          fillOpacity: 0.35,
          path: [
            {lat: -22.612312, lng: -46.720660},
            {lat: -22.622248, lng: -46.713911},
            {lat: -22.625385, lng: -46.699464},
            {lat: -22.617735, lng: -46.696359},
            {lat: -22.609785, lng: -46.700730},
            {lat: -22.607875, lng: -46.707807},
            {lat: -22.612312, lng: -46.720660}
          ],
          sectors: ['Indústria', 'Comércio']
        },

        {
          id: "3",
          strokeColor: '#1de03e',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#4ef96b',
          fillOpacity: 0.35,
          path: [
           {lat: -22.625385, lng: -46.699464},
           {lat: -22.620900, lng: -46.684532}, 
           {lat: -22.609469, lng: -46.679921}, 
           {lat: -22.607741, lng: -46.691901},
           {lat: -22.609785, lng: -46.700730},
           {lat: -22.617735, lng: -46.696359},
           {lat: -22.625385, lng: -46.699464}
          ],
          sectors: ['Comércio', 'Serviços']
        },

        {
          id: "4",
          strokeColor: '#781ce0',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#b479f7',
          fillOpacity: 0.35,
          path: [
             {lat: -22.623942, lng: -46.724916},
             {lat: -22.629227, lng: -46.730537},
             {lat: -22.635724, lng: -46.728383},
             {lat: -22.634609, lng: -46.721921},
             {lat: -22.629857, lng: -46.721344},
             {lat: -22.623942, lng: -46.724916}
          ],
          sectors: ['Agronegócio']
        },

        {
          id: "5",
          strokeColor: '#d15204',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#ff863d',
          fillOpacity: 0.35,
          path: [
            {lat: -22.625641, lng: -46.687229},
            {lat: -22.629721, lng: -46.689680},
            {lat: -22.631347, lng: -46.688819},
            {lat: -22.631175, lng: -46.684194},
            {lat: -22.628707, lng: -46.683080},
            {lat: -22.626907, lng: -46.684306},
            {lat: -22.625641, lng: -46.687229}
          ],
          sectors: ['Agronegócio', 'Serviços']
        }


      ]
    }
  },

  components: {
    GoogleMapLoader,
    GoogleMapMarker,
    GoogleMapLine
  },

  props: {
    address: {
      type: Object
    },
    cnaes: {
      type: Array
    }
  },

  mounted() {
    if(!this.address || !this.cnaes) {
      this.$router.push({ name: 'home' })
      return
    }
    this.markers = [{position: this.address.geometry.location, id: "b" }]
  },

  computed: {
    mapConfig() {
      return {
        ...mapSettings,
        center: this.mapCenter
      };
    },

    mapCenter() {
      if(!this.markers || !this.markers.length) {
        return { lat: 0, lng: 0 }
      }

      return this.markers[0] && this.markers[0].position
    },
  },

  methods: {
    updateZones(val) {
      if(val.status == 'approved') {
        let zoneCNAEs = _.find(this.lines, { id: val.lineId })
        // console.log("SECTOR", _.includes(c.sector, zoneCNAEs.sectors))
        this.approvedCNAEs = this.cnaes.filter(c => _.isObject(c) && _.includes(zoneCNAEs.sectors, c.sector))
        this.reprovedCNAEs = this.cnaes.filter(c => _.isObject(c) && !_.includes(zoneCNAEs.sectors,c.sector))
      }
      // } else if(val.status == 'reproved') {
      //   console.log("lines", this.lines)
      //   let zoneCNAEs = _.find(this.lines, { id: val.lineId })
      //   this.reprovedCNAEs = this.cnaes.filter(c => _.isObject(c) && _.includes(c.sector, zoneCNAEs.sectors) && _.includes(c.description, this.approvedCNAEs))
      // }
    },



    edit(){
      this.$router.push({ name: 'home'})
    }
  }
}
</script>

<style type="text/css">
.toolbar-zones {
  background-color: #2E7EED;
  max-height: 72px;
  text-align: left;
  padding: 12px;
}
.toolbar-zones img {
  max-width: 200px;
}
@media (max-width: 600px) {
  .toolbar-zones img {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.approved-cnaes {
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #00DD89;
  padding: 18px;
  text-align: left;
  margin-top: 22px;
  color: #00DD89;
}
.approved-cnaes > div {
  margin-bottom: 8px;
}

.reproved-cnaes {
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #EB4256;
  padding: 18px;
  text-align: left;
  margin-top: 22px;
  color: #EB4256;
}
.reproved-cnaes > div {
  margin-bottom: 8px;
}

</style>